#visual {
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-bottom: 150px;

  .frame {
    position: relative;
    width: 100%;
    height: 700px;


    li {
      width: 100%;
      height: 700px;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        max-height: 700px;

        object-fit: fill;
      }

      &.on {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  .btns {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 139, 0.1);
    position: absolute;
    display: flex;
    justify-content: space-between;

    div {
      border-right: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      width: calc(100% / 7);
      height: 10px;
      cursor: pointer;

      div {
        width: 100%;
        height: 10px;

        &.bar {
          width: 0%;
          height: 10px;
          background-color: darkblue;
        }
      }

      &.on {
        width: calc(100% / 7);
        height: 10px;
        background-color: rgba(0, 0, 139, 0.5);


        .bar {
          width: 0%;
          height: 10px;
          background-color: darkblue;
          animation: bar 3s;
          opacity: 1;
        }
      }


    }
  }

  nav {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    margin-top: 40px;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .start,
    .stop {

      width: 40px;
      height: 40px;
      border: solid 2px darkblue;
      border-radius: 5px;
      margin-right: 40px;
      position: relative;
      transition: 0.5s;

      &.on {
        background-color: darkblue;

        .clip {
          background-color: #fff;
        }

        div {
          background-color: #fff;
        }
      }
    }

    .start {
      .clip {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        background-color: darkblue;
      }

      &:hover {
        background-color: darkblue;

        .clip {
          background-color: #fff;
        }
      }
    }

    .stop {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: 22px;
        height: 22px;
        border-radius: 2px;
        background-color: darkblue;
      }

      &:hover {
        background-color: darkblue;

        div {
          background-color: #fff;
        }
      }
    }
  }
}

.new {
  width: 100%;
  margin-bottom: 150px;

  .inner {
    width: 1500px;
    margin: 0 auto;

    h2 {
      font: bold 35px/1.5 "arial";
      color: darkblue;
      margin-left: 20px;
    }

    p {
      font: 17px/1.5 "애플 고딕";
      color: #444;
      margin-left: 20px;
      margin-bottom: 40px;
    }

    .content {
      display: flex;
      justify-content: space-around;

      li {
        width: 300px;

 &:nth-of-type(3){
            a{
              p{
                display: block;
                &.mo{
                  display: none;
                }
              }
            }
          }

        a {
          display: block;
          width: 300px;
          height: 400px;
          position: relative;
          border: 1px solid darkblue;
          padding: 5px;

          h3 {
            font: bold 16px/1.5 "arial";
            color: #444;
            margin-bottom: 10px;
          }

          p {
            display: block;
            height: 170px;
            font: 12px/1.5 "arial";
            color: #777;
            margin-bottom: 10px;
            margin-left: 0;
          }

          span {
            font: 14px/1.5 "arial";
            color: darkblue;
            margin-left: 10px;
          }

          img {
            border: 1px solid darkblue;
            width: 298px;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.title {
  width: 100%;
  height: 100vh;
  background-color: #444;
  margin-bottom: 100px;
  position: relative;

  .inner {
    width: 1500px;
    height: 100%;
    margin: 0 auto;

    h2 {
      font: bold 35px/1.5 "arial";
      color: #fff;
      padding-top: 20px;
      margin-left: 20px;
    }

    p {
      font: 17px/1.5 "애플 고딕";
      color: skyblue;
      margin-left: 20px;
      margin-bottom: 40px;
    }
    .mo {
      display: none;
      font: 15px/1.5 "애플 고딕";
      color: skyblue;
      margin-left: 20px;
      margin-bottom: 40px;
    }

    .ch {
      .text {
        P {
          display: block;
          color: black;
          width: 200px;
          height: 50px;
          background-color: #fff;
          font: bold 12px/30px "맑은 고딕";
          padding: 10px;
          border-radius: 10px;
          position: absolute;
          bottom: 150px;
          left: 10px;
          border: 2px solid skyblue;
          animation: text 3s infinite reverse;
        }

        .arrow1 {
          width: 30px;
          height: 30px;
          background: skyblue;
          clip-path: polygon(0 0, 81% 100%, 54% 0);
          position: absolute;
          bottom: 160px;
          left: 100px;
          animation: text3 3s infinite reverse;
        }

        .arrow2 {
          width: 25px;
          height: 25px;
          background: #fff;
          clip-path: polygon(0 0, 81% 100%, 54% 0);
          position: absolute;
          bottom: 168px;
          left: 100px;
          animation: text2 3s infinite reverse;
        }
      }

      img {
        position: absolute;
        width: 200px;

        &:nth-of-type(1) {
          bottom: 0;
          right: 5%;
        }

        &:nth-of-type(2) {
          bottom: 0;
          left: 10%;
          width: 150px;
        }

        &:nth-of-type(3) {
          bottom: 0;
          right: 20%;
          width: 100px;
        }

        &:nth-of-type(4) {
          bottom: 0;
          width: 100px;
          right: 30%;
        }
      }
    }

    .pack {
      background-color: #fff;
      width: 180px;
      height: 420px;
      position: absolute;
      float: left;
      left: 25px;
      top: 20%;
      text-align: center;
      border-right: 5px solid #000;
      border-bottom: 5px solid #000;

      img {
        width: 80px;
      }
    }

    .screen {
      position: absolute;
      left: 250px;
      margin: 0 auto;
      width: 1500px;
      height: 500px;
      background-color: #fff;
      border: solid 2px #000;
      box-shadow: 0px 20px 50px 20px rgba($color: lightblue, $alpha: 0.5);

      .screenMain {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s 2s;
      }

      div {
        position: relative;
        opacity: 0;

        &.game1 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              width: 100%;
              height: 100%;
              transform: translateX(-100%);
              transition: 0.2s;
            }

            &:nth-of-type(2) {
              left: 15%;
              opacity: 1;
              transform: translateY(-100%);
              transition: s 0.2s;
            }

            &:nth-of-type(3) {
              top: 14%;
              opacity: 1;
              transform: scale(0);
              transition: 0.3s 0.5s;
            }

            &:nth-of-type(4) {
              top: 5%;
              left: 30%;
              opacity: 1;
              transform: scale(0) rotate(0deg);
              transition: 0.3s 0.5s;
            }

            &:nth-of-type(5) {
              top: 10%;
              left: 65%;
              opacity: 0;
              transition: 0.5s 0.5s;
            }
          }
        }

        &.game2 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              transform: translateX(-100%);
              transition: 0.5s;
            }

            &:nth-of-type(2) {
              left: 50%;
              transform: translateY(-500%);
              transition: 0.5s 0.5s;
              opacity: 0;
              display: none;
            }

            &:nth-of-type(3) {
              top: 20%;
              opacity: 0;
              transform: rotate(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(4) {
              bottom: 20px;
              left: 20px;
              opacity: 0;
              transform: rotate(0);
              transition: 0.5s 0.5s;
            }
          }
        }

        &.game3 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              transform: translateX(-100%);
              transition: 0.5s;
            }

            &:nth-of-type(2) {
              top: 0;
              left: 50%;
              transform: translateX(100%);
              transition: 0.5s;
            }

            &:nth-of-type(3) {
              top: 0;
              left: 35%;
              transform: scale(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(4) {
              top: 0;
              opacity: 0;
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(5) {
              top: 70%;
              left: 30%;
              transform: translateY(110%);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(6) {
              left: 60%;
              top: 10%;
              transform: translateY(-150%);
              transition: 0.5s 0.1s;
            }
          }
        }

        &.game4 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              width: 1500px;
              height: 500px;
              transform: translateY(-100%);
              transition: 0.5s;
            }

            &:nth-of-type(2) {
              bottom: 0;
              left: 100px;
              transform: scale(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(3) {
              bottom: 0;
              left: 350px;
              transform: scale(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(4) {
              bottom: 0;
              right: 350px;
              transform: scale(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(5) {
              bottom: 0;
              right: 100px;
              transform: scale(0);
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(6) {
              left: 40%;
              bottom: 0;
              transform: scale(0);
              transition: 0.5s 0.2s;
            }

            &:nth-of-type(7) {
              width: 700px;
              left: 27%;
              top: 0;
              transform: scale(0);
              transition: 0.5s 0.1s;
            }
          }
        }

        &.game5 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              transform: translate(100%, 100%);
              transition: 0.5s;
            }

            &:nth-of-type(2) {
              top: 40%;
              left: -110%;
              transition: 0.5s 0.5s;
            }

            &:nth-of-type(3) {
              right: 0;
              opacity: 0;
              transition: 0.5s 0.8s;
            }

            &:nth-of-type(4) {
              top: 0;
              opacity: 0;
              transition: 0.5s 1s;
            }

            &:nth-of-type(5) {
              top: -110%;
              left: 45%;

              transition: 0.5s 1.2s;
            }
          }
        }

        &.game6 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              transform: scale(0);
              transition: 0.5s;
            }

            &:nth-of-type(2) {
              top: -100%;
              transform: rotate(0);
              left: 25%;
              transition: 0.8s 0.5s;
            }
          }
        }

        &.game7 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0%;
              left: -120%;
              transition: 0.3s;
            }

            &:nth-of-type(2) {
              top: -600px;
              left: 10px;
              transition: 0.3s 0.3s;
            }

            &:nth-of-type(3) {
              top: -670px;
              left: 10px;
              transition: 0.3s 0.6s;
            }

            &:nth-of-type(4) {
              top: -600px;
              left: 170px;
              transition: 0.3s 0.9s;
            }

            &:nth-of-type(5) {
              top: -600px;
              left: 330px;
              transition: 0.3s 1.1s;
            }

            &:nth-of-type(6) {
              top: -600px;
              left: 490px;
              transition: 0.3s 1.3s;
            }

            &:nth-of-type(7) {
              top: -600px;
              left: 650px;
              transition: 0.3s 1.5s;
            }

            &:nth-of-type(8) {
              top: -600px;
              left: 810px;
              transition: 0.3s 1.7s;
            }

            &:nth-of-type(9) {
              top: 830px;
              left: 10px;
              transition: 0.3s 2.1s;
            }

            &:nth-of-type(10) {
              top: 830px;
              left: 170px;
              transition: 0.3s 2.3s;
            }

            &:nth-of-type(11) {
              top: 670px;
              left: 170px;
              transition: 0.3s 1.9s;
            }

            &:nth-of-type(12) {
              top: 830px;
              left: 330px;
              transition: 0.3s 2.5s;
            }

            &:nth-of-type(13) {
              top: 830px;
              left: 490px;
              transition: 0.3s 2.7s;
            }

            &:nth-of-type(14) {
              top: 670px;
              left: 650px;
              transition: 0.3s 2.9s;
            }

            &:nth-of-type(15) {
              top: 830px;
              left: 650px;
              transition: 0.3s 3.1s;
            }

            &:nth-of-type(16) {
              top: 670px;
              left: 810px;
              transition: 0.3s 3.3s;
            }

            &:nth-of-type(17) {
              top: 830px;
              left: 810px;
              transition: 0.3s 3.5s;
            }

            &:nth-of-type(18) {
              top: -110%;
              left: 975px;
              transition: 0.3s 3.9s;
            }

            &:nth-of-type(19) {
              top: 110%;
              left: 1230px;
              transition: 0.3s 4.1s;
            }

            &:nth-of-type(20) {
              top: 180px;
              left: 330px;
              width: 310px;
              opacity: 0;
              transition: 0.3s 3.7s;
            }

            &:nth-of-type(21) {
              width: 540px;
              bottom: 180px;
              right: 0;
              opacity: 0;
              transition: 0.3s 4.5s;
            }
          }
        }

        &.game8 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;

          img {
            position: absolute;

            &:nth-of-type(1) {
              top: 0;
              transition: 0.5s;
              opacity: 0;
            }

            &:nth-of-type(2) {
              top: 0;
              transition: 0.5s;
              opacity: 0;
            }

            &:nth-of-type(3) {
              top: 0;
              transition: 0.5s;
              opacity: 0;
            }

            &:nth-of-type(4) {
              top: 0;
              right: 50px;
              transition: 0.5s 0.4s;
              opacity: 0;
            }

            &:nth-of-type(5) {
              top: 0;
              right: 50px;
              transition: 0.5s 0.4s;
              opacity: 0;
            }

            &:nth-of-type(6) {
              top: 0;
              transition: 0.5s;

              opacity: 0;
            }

            &:nth-of-type(7) {
              top: 0;
              opacity: 0;
              transition: 0.5s;
            }

            &:nth-of-type(8) {
              top: 0;
              transition: 0.5s;
              opacity: 0;
            }

            &:nth-of-type(9) {
              width: 700px;
              bottom: 0;
              left: 100px;
              opacity: 0;
              transition: 0.5s 1s;
            }
          }
        }

        &.on {
          z-index: 1;
          opacity: 1;

          &.game1 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;

            img {
              position: absolute;

              &:nth-of-type(1) {
                width: 100%;
                height: 100%;
                transform: translateX(0%);
                transition: 0.2s;
              }

              &:nth-of-type(2) {
                left: 15%;
                opacity: 0.5;
                transform: translateY(0);
                transition: s 0.2s;
              }

              &:nth-of-type(3) {
                top: 14%;
                opacity: 1;
                transform: scale(1);
                transition: 0.3s 0.5s;
              }

              &:nth-of-type(4) {
                top: 5%;
                left: 30%;
                opacity: 1;
                transform: scale(1) rotate(360deg);
                transition: 0.3s 0.5s;
              }

              &:nth-of-type(5) {
                top: 10%;
                left: 65%;
                opacity: 0.5;
                transition: 0.5s 0.5s;
              }
            }
          }

          &.game2 {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                transform: translateX(0);
                transition: 0.5s;
              }

              &:nth-of-type(2) {
                left: 50%;
                opacity: 1;
                display: block;
                transform: translateY(0);
                transition: 0.5s 0.5s;
                animation: sonic 1s infinite;
              }

              &:nth-of-type(3) {
                top: 20%;
                opacity: 1;
                transform: rotate(-360deg);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(4) {
                bottom: 20px;
                left: 20px;
                opacity: 1;
                transform: rotate(0);
                transition: 0.5s 0.5s;
              }
            }
          }

          &.game3 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                transform: translateX(0%);
                transition: 0.5s;
              }

              &:nth-of-type(2) {
                top: 0;
                left: 50%;
                transform: translateX(0%);
                transition: 0.5s;
              }

              &:nth-of-type(3) {
                top: 0;
                left: 35%;
                transform: scale(1);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(4) {
                top: 0;
                opacity: 1;
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(5) {
                top: 70%;
                left: 25%;
                transform: translateY(0%);
                transition: 0.5s 0.8s;
              }

              &:nth-of-type(6) {
                left: 60%;
                top: 10%;
                transform: translateY(0%);
                transition: 0.5s 1s;
              }
            }
          }

          &.game4 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                width: 1500px;
                height: 500px;
                transform: translateY(0%);
                transition: 0.5s;
              }

              &:nth-of-type(2) {
                bottom: 0;
                left: 100px;
                transform: scale(0.9);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(3) {
                bottom: 0;
                left: 350px;
                transform: scale(1);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(4) {
                bottom: 0;
                right: 350px;
                transform: scale(1);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(5) {
                bottom: 0;
                right: 100px;
                transform: scale(1);
                transition: 0.5s 0.5s;
              }

              &:nth-of-type(6) {
                left: 40%;
                bottom: 0;
                transform: scale(1);
                transition: 0.5s 1s;
              }

              &:nth-of-type(7) {
                width: 700px;
                left: 27%;
                top: 0;
                transform: scale(1);
                transition: 0.5s 0.1s;
              }
            }
          }

          &.game5 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                transform: translate(0%, 0%);
              }

              &:nth-of-type(2) {
                top: 40%;
                left: 110%;
              }

              &:nth-of-type(3) {
                right: 0;
                opacity: 0.5;
              }

              &:nth-of-type(4) {
                top: 0;
                left: 40px;
                opacity: 1;
              }

              &:nth-of-type(5) {
                top: 0;
                left: 45%;

                transition: 0.5s 1.2s;
              }
            }
          }

          &.game6 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                transform: scale(1);
              }

              &:nth-of-type(2) {
                top: 0;
                transform: rotate(1440deg);
                left: 25%;
              }
            }
          }

          &.game7 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                left: 0;
              }

              &:nth-of-type(2) {
                top: 10px;
                left: 10px;
              }

              &:nth-of-type(3) {
                top: 170px;
                left: 10px;
              }

              &:nth-of-type(4) {
                top: 10px;
                left: 170px;
              }

              &:nth-of-type(5) {
                top: 10px;
                left: 330px;
              }

              &:nth-of-type(6) {
                top: 10px;
                left: 490px;
              }

              &:nth-of-type(7) {
                top: 10px;
                left: 650px;
              }

              &:nth-of-type(8) {
                top: 10px;
                left: 810px;
              }

              &:nth-of-type(9) {
                top: 330px;
                left: 10px;
              }

              &:nth-of-type(10) {
                top: 330px;
                left: 170px;
              }

              &:nth-of-type(11) {
                top: 170px;
                left: 170px;
              }

              &:nth-of-type(12) {
                top: 330px;
                left: 330px;
              }

              &:nth-of-type(13) {
                top: 330px;
                left: 490px;
              }

              &:nth-of-type(14) {
                top: 170px;
                left: 650px;
              }

              &:nth-of-type(15) {
                top: 330px;
                left: 650px;
              }

              &:nth-of-type(16) {
                top: 170px;
                left: 810px;
              }

              &:nth-of-type(17) {
                top: 330px;
                left: 810px;
              }

              &:nth-of-type(18) {
                top: 0px;
                left: 975px;
              }

              &:nth-of-type(19) {
                top: 0px;
                left: 1230px;
              }

              &:nth-of-type(20) {
                top: 180px;
                left: 330px;
                width: 310px;
                opacity: 1;
              }

              &:nth-of-type(21) {
                width: 540px;
                bottom: 180px;
                right: 0;
                opacity: 1;
              }
            }
          }

          &.game8 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;

            img {
              position: absolute;

              &:nth-of-type(1) {
                top: 0;
                transition: 0.5s;
                opacity: 1;
                animation: fade1 3s infinite;
              }

              &:nth-of-type(2) {
                top: 0;
                transition: 0.5s;
                opacity: 1;
                animation: fade2 3s infinite;
              }

              &:nth-of-type(3) {
                top: 0;
                transition: 0.5s;
                opacity: 1;
                animation: fade3 3s infinite;
              }

              &:nth-of-type(4) {
                top: 0;
                right: 50px;
                transition: 0.5s 0.4s;
                opacity: 1;
                animation: haku 20s infinite;
              }

              &:nth-of-type(5) {
                top: 0;
                right: 50px;
                transition: 0.5s 0.4s;
                opacity: 1;
                animation: haku2 20s infinite;
              }

              &:nth-of-type(6) {
                top: 0;
                transition: 0.5s;
                animation: music3 5s infinite;
                opacity: 1;
              }

              &:nth-of-type(7) {
                top: 0;
                animation: music1 3s infinite reverse;
                transition: 0.5s;
                opacity: 1;
              }

              &:nth-of-type(8) {
                top: 0;
                transition: 0.5s;
                animation: music1 5s infinite;
                opacity: 0.8;
              }

              &:nth-of-type(9) {
                width: 700px;
                bottom: 0;
                left: 120px;
                transition: 0.5s 0.8s;
                animation: title 10s infinite;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .consol {
      position: absolute;
      bottom: 0;
      left: 40%;

      img {
        position: absolute;
        bottom: 30px;
        width: 250px;
        transition: 0.5s;

        &:nth-of-type(2) {
          position: absolute;
          bottom: 7px;
          right: -270px;
          width: 250px;
        }

        &.on {
          display: none;
        }
      }

      .packs {
        transform: rotate(18deg);
        width: 50px;
        left: 140px;
        top: -240px;
      }
    }
  }
}

.ltd {
  .inner {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    h2 {
      font: bold 35px/1.5 "arial";
      color: darkblue;
      margin-left: 20px;
    }

    p {
      font: 17px/1.5 "애플 고딕";
      color: #444;
      margin-left: 20px;
      margin-bottom: 40px;
    }

    article {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: 0;

      a {
        transition: filter 0.5s;

        img {
          width: 100%;
        }

        &:hover {
          filter: opacity(0.5);
        }
      }
    }
  }
}

.topic {
  background-color: #444;

  .inner {
    width: 1500px;
    height: 100vh;
    margin: 0 auto;

    h2 {
      font: bold 35px/1.5 "arial";
      color: #fff;
      padding-top: 20px;
      margin-left: 20px;
    }

    p {
      font: 17px/1.5 "애플 고딕";
      color: skyblue;
      margin-left: 20px;
      margin-bottom: 80px;
    }

    .vidList {
      width: 80%;
      margin: 0 auto;
      position: relative;

      article {
        width: 80%;
        margin: 0 auto;

        .pic {
          display: block;
          width: 100%;

          img {
            width: 100%;

            object-fit: fill;
          }
        }

        h2 {
          font: bold 20px/1.2 "맑은고딕";
          color: #fff;
          width: 100%;
          position: absolute;
          top: -60px;
          text-align: left;
        }
      }

      .pop {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .btnClose {
          position: absolute;
          top: 10px;
          right: 50px;
          display: inline-block;
          cursor: pointer;
          width: 100px;
          height: 50px;
          background-color: darkblue;
          outline: none;
          border: 2px solid #fff;
          font: bold 14px/45px "애플 고딕";
          color: #fff;
          transition: 0.5s;
          text-align: center;

          &:hover {
            background-color: #fff;
            color: darkblue;
          }
        }
      }
    }

    button {
      width: 250px;
      height: 50px;
      background-color: #fff;
      outline: none;
      border: 2px solid skyblue;
      font: bold 18px/1.5 "애플 고딕";
      color: skyblue;
      cursor: pointer;
      position: relative;
      margin-top: 40px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.5s 0.1s;
      overflow: hidden;

      div {
        width: 10px;
        height: 100px;
        position: absolute;
        background-color: #fff;
        top: -25px;
        left: -51px;
        transform: rotate(45deg);
        transition: 0.5s;
      }

      &:hover {
        background-color: skyblue;
        color: #444;

        div {
          left: 300px;
        }
      }
    }
  }
}

@keyframes sonic {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  20% {
    transform: translateX(20%);
  }

  30% {
    opacity: 0.8;
  }

  40% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(40%);
  }

  60% {
    opacity: 0.5;
  }

  70% {
    transform: translateX(-60%);
  }

  80% {
    opacity: 1;
  }

  90% {
    transform: translateX(0%);
  }

  99% {
    transform: translateX(-20%);
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes music1 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(500%, 500%);
  }

  40% {
    transform: translate(750%, 0);
  }

  60% {
    transform: translate(1000%, 400%);
  }

  80% {
    transform: translate(1200%, 0%);
  }

  100% {
    transform: translate(1500%, 500%);
  }
}

@keyframes music3 {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(700%, 100%);
  }

  40% {
    transform: translate(0%, 200%);
  }

  60% {
    transform: translate(900%, 300%);
  }

  80% {
    transform: translate(0%, 400%);
  }

  100% {
    transform: translate(1200%, 500%);
  }
}

@keyframes haku {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes haku2 {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes title {
  0% {
    transform: scale(0.9);
  }

  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.4);
  }

  80% {
    transform: scale(0.8);
  }

  90% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes text2 {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes text3 {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(45%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}