#result {
  margin-top: 50px;
  width: 100%;

  .inner {
    width: 50%;
    min-height: 500px;
    border: 1px solid darkblue;
    margin: 0 auto;
    padding: 20px;

    h2 {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 100%;
      font: bold 25px/1.5 "맑은 고딕";
      border-bottom: 2px solid darkblue;
      color: darkblue;
    }

    span {
      width: 80%;
      display: block;
      font: 16px/1.5 "맑은 고딕";
      margin: 20px 0px;
      color: skyblue;
      border-bottom: 2px solid skyblue;
      white-space: wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 20px;
    }

    p {
      font: 14px/1.5 "맑은 고딕";
      margin-left: 20px;
    }

    a {
      border: 1px solid darkblue;
      background-color: #fff;
      display: block;
      width: 200px;
      height: 50px;
      font: bold 17px/48px "맑은 고딕";
      color: darkblue;
      margin: 0 auto;
      margin-top: 50px;
      transition: 0.5s 0.1s;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      text-align: center;

      div {
        width: 5px;
        height: 100px;
        position: absolute;
        background-color: #fff;
        top: -25px;
        left: -51px;
        transform: rotate(45deg);
        transition: 0.5s;
      }

      &:hover {
        background-color: darkblue;
        color: #fff;

        div {
          left: 250px;
        }
      }
    }
  }
}
