@media screen and (max-width: "400px") {
  header {
    height: 70px;

    .inner {
      h1 {
        a {
          img {
            width: 80px;
          }
        }
      }
    }
  }

  #visual {
    nav {
      .prev,
      .next {
        width: 30px;
        height: 30px;
      }

      .prev {
        .clip {
          width: 15px;
          height: 15px;
        }
      }

      .next {
        .clip {
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .new {
    width: 100%;
    margin-bottom: 150px;

    .inner {
      width: 100%;
      .content {
        flex-direction: column;
        li {
          width: 90%;
          padding: 10px;

          &:nth-of-type(3) {
            a {
              p {
                display: none;
                &.mo {
                  display: block;
                }
              }
            }
          }

          a {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 500px;
            border: 1px solid darkblue;
            padding: 20px;

            h3 {
              height: 200px;
            }

            p {
              width: 100%;
              height: 200px;
              text-align: top;
            }
            span {
              font: 10px/1.5 "arial";
              width: 100%;
              height: 15px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            img {
              width: 80%;
              position: absolute;
              top: 17%;
              left: 5%;
              margin: 10px;
            }
          }
        }
      }
    }
  }

  #result {
    .inner {
      width: 90%;
      min-height: 200px;
      padding: 10px;

      h2 {
        font: bold 16px/1.5 "맑은 고딕";
      }

      span {
        font: 12px/1.5 "맑은 고딕";
      }

      p {
        font: 12px/1.5 "맑은 고딕";
        margin-left: 10px;
      }

      a {
        width: 100px;
      }
    }
  }

  .title {
    height: 80vh;

    .inner {
      p {
        margin-bottom: 15px;
      }
      .mo {
        display: block;
      }
      .screen {
        display: none;
      }

      .consol {
        display: none;
      }

      .ch {
        display: none;
      }

      .pack {
        width: 90%;
        height: 65%;

        top: 30%;

        img {
          width: 90px;
        }
      }
    }
  }

  #join {
    .inner {
      #member {
        max-width: 95%;
      }
    }
  }

  footer {
    .inner .sns {
      position: absolute;
      right: 0;
      top: 110%;

      a {
        img {
          width: 50px;
        }
      }
    }
  }
}
