#map {
    width: 800px;
    height: 500px;
    margin-top: 32px;
    margin-bottom: 50px;
    margin-left: 150px;
}

#addr1 {
    #ad1 {
        font-size: 18px;
    }

    #ad2 {
        font-size: 16px;
    }
}

#addr2 {
    margin-bottom: 50px;

    #ad1 {
        font-size: 18px;
    }

    #ad2 {
        font-size: 16px;
    }
}