.ltd {
    .inner {
        width: 1500px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 50px;

        h2 {
            font: bold 35px/1.5 "arial";
            color: darkblue;
            margin-left: 20px;
        }

        h3 {
            font: 17px/1.5 "애플 고딕";
            color: #444;
            margin-left: 20px;
            margin-bottom: 40px;
        }

        article {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 0;

            a {
                transition: filter 0.5s;

                img {
                    width: 100%;
                }

                &:hover {
                    filter: opacity(0.5);
                }
            }
        }
    }
}